@import url(../style.css);

section
{
    display: grid;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.5); 
    height: 100%;
}
#form-login
{
    display: grid;
    padding: 5rem 5rem 8rem 5rem;
    border-radius: 0.5rem 0.5rem;
    width: 18rem;
    height: 30rem;
    background-color: rgb(0, 0, 0,0.5);
    font-family: Arial, Helvetica, sans-serif;
}

.bt-login
{
    padding: 0.7rem 0;
    border: none;
    border-radius: 0.3rem 0.3rem;
    background-color: var(--bt-login);
    color: var(--Main-font-color);
    font-weight: 600;
}
.bt-codigo
{
    padding: 0.7rem 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--Main-font-color);
    border-radius: 0.3rem 0.3rem;
}

.input_login
{
    padding: 1rem;
    margin: 0.5rem 0;
    width: 88%;
    background-color: rgb(0, 0, 0,0.5);
    color: #ffffff;
    border: 0.1rem solid gray;
    border-radius: 0.3rem 0.3rem;
}
